@tailwind base;
@tailwind components;
@tailwind utilities;

html { color-scheme: light dark }
body { @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 }

.focus-ring { @apply focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 }